<%- include('../layout/menu-atas') %>
    <%- include('../layout/menu-kiri') %>
        <%- include('../layout/notif-message') %>
            <%- include('../layout/notif-validasi-error') %>

                <h1>Tambah produk baru</h1>
                <hr>

                <form action="/produk/insert" method="post" enctype="multipart/form-data">

                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Kode barang</label>
                                <input type="text" name="form_kode_barang"
                                    class="form-control <%= (typeof pesan_validasi_error !== 'undefined' && pesan_validasi_error[0].path == 'form_kode_barang') ? 'is-invalid' : '' %>"
                                    value="<%= (typeof pesan_validasi_error !== 'undefined' && pesan_validasi_error[0].path == 'form_kode_barang') ? pesan_validasi_error[0].value : '' %>">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Nama barang</label>
                                <input type="text" name="form_nama_barang" class="form-control">
                            </div>

                            <div class="mb-3">
                                <label class="form-label">Deskripsi</label>
                                <textarea name="form_deskripsi" class="form-control" rows="5"></textarea>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label class="form-label">Foto Produk</label><br>
                                <input type="file" name="form_upload_foto" id="add_foto">
                                <div id="preview_foto" class="align-items-center"></div>
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-primary">
                        <i class="fa-solid fa-save"></i> Simpan
                    </button>
                </form>


                <script>
                    $('#add_foto').on('change', function () {
                        let add_foto = $('#add_foto').val()
                        if (this.files[0]) {
                            let type = this.files[0].type
                            let size = this.files[0].size
                            let maxsize = (5120 * 1024)
                            if (size > maxsize) {
                                $('#submit_edit_foto').prop('disabled', true)
                                $('#preview_foto').empty()
                                $('#edit_infouploadfoto').empty().append(`<i class="fe fe-16 fe-alert-triangle text-danger"></i> <span class="text-danger">File size exceeds the limit: 5 MB.</span>`)
                            } else {
                                $('#submit_edit_foto').prop('disabled', false)
                                $('#edit_infouploadfoto').empty()
                                if (add_foto && type.split('/')[0] == 'image') {
                                    $('#preview_foto').empty().append(
                                        `<img src="${window.URL.createObjectURL(this.files[0])}" class="w-100" alt="foto profil user">`
                                    )
                                }
                            }
                        } else {
                            $('#submit_edit_foto').prop('disabled', false)
                            $('#preview_foto').empty()
                        }
                    })
                </script>

                <%- include('../layout/footer') %>